#bgCarousel {
 	margin-top: 95px;
 }

.carousel-video-wrapper video {
  height:90vh;
  object-fit: cover;
}

.carousel-image-wrapper {
  height:fit-content
}

.carousel-image-wrapper picture img {
  position: relative !important;
  object-fit: fill;
  height: 90vh !important;
}

.animate-ken-burns {
  animation: ken-burns 30s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}

@keyframes ken-burns {
  50% {
    transform: scale(1.1)
  }
}

/* Mobile Devices (Portrait) */
@media only screen and (max-width: 480px) {
  /* Styles for mobile phones */
  .carousel-video-wrapper video {
    height:50vh;
    object-fit: cover;
  }
  .carousel-image-wrapper picture img{
    height: 50vh !important;
  }
}

/* Mobile Devices (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape mode */
  .carousel-video-wrapper video {
    height:65vh;
    object-fit: cover;
  }
  .carousel-image-wrapper picture img{
    height: 65vh !important;
  }
}

/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
  .carousel-video-wrapper video {
    height:55vh;
    object-fit: cover;
  }
  .carousel-image-wrapper picture img{
    height: 55vh !important;
  }
}