#bgCarousel {
 	margin-top: 55px;
 }

.carousel-video-wrapper video {
  height:95vh;
  object-fit: cover;
}

.carousel-image-wrapper {
  height:fit-content;
  background: linear-gradient(333deg, #001d60 40%, #00288d 40%, #00298f 70%, #001D60 70%);
}

.carousel-image-wrapper picture img {
  position: relative !important;
  object-fit: fill;
  height: 95vh !important;
  width: auto;
}

.animate-ken-burns {
  animation: ken-burns 30s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}

@keyframes ken-burns {
  50% {
    transform: scale(1.1)
  }
}

/* 2K display (2560px width) */
@media only screen and (min-width: 2560px) {
  .carousel-video-wrapper video {
    height:80vh;
  }
  .carousel-image-wrapper picture img{
    height: 80vh !important;
    object-fit: cover;
    width: auto;
  }
}
/* Mobile Devices (Portrait) */
@media only screen and (max-width: 480px) {
  /* Styles for mobile phones */
  .carousel-video-wrapper video {
    height:45vh;
    object-fit: cover;
  }
  .carousel-image-wrapper picture img{
    height: 45vh !important;
  }
}

/* Mobile Devices (Landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape mode */
  .carousel-video-wrapper video {
    height:60vh;
    object-fit: cover;
  }
  .carousel-image-wrapper picture img{
    height: 60vh !important;
  }
}

/* Tablets (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
  .carousel-video-wrapper video {
    height:50vh;
    object-fit: cover;
  }
  .carousel-image-wrapper picture img{
    height: 50vh !important;
  }
}